<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ortografia.trinidad">

    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@dimen/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Crear cuenta -->
        <activity
            android:name=".controllers.account.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- UpdateAccount -->
        <activity
            android:name=".controllers.account.UpdateAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- Menu principal -->
        <activity
            android:name=".controllers.menus.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- DeleteAccount -->
        <activity
            android:name=".controllers.account.DeleteAccountActivity"
            android:screenOrientation="portrait"/>
        <!-- Settings -->
        <activity
            android:name=".controllers.menus.SettingsActivity"
            android:screenOrientation="portrait" />
        <!-- NotificationService -->
        <receiver android:name=".models.NotificationService"/>
    </application>

</manifest>